body {
		background-color: #dee2ff;
		font-family: Georgia, serif;
		line-height: 1.5;
	}
	section, .highlight {
		background-color: #feeafa;
		width: 1800px;
	}
	
	p, #pdiv {
		color: #8e9aaf;
		font-size: 20px;
		width: 1800px;
		text-align: left;
	}
	
			
	h1 {
		color: #8e9aaf;
		font-size: 30px;
		text-align: center;
	}
	
	h2 {
		color: #8e9aaf;
		font-size: 26px;
	}
	
	h4 {
		color: #8e9aaf;
		font-size: 22px;
	}
