	html {
		font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
	}	
	body {
		background-color: #E4C461;
		line-height: 1.5;
		margin: 60px;
	}
	section, .highlight {
		background-color: #FFFFFF;
	}
	
	p, #pdiv {
		background-color: #FFFFFF;
		color: #54595F;
		font-size: 20px;
		text-align: left;
		margin: 20px;
	}
	
			
	h1 {
		color: #54595F;
		font-size: 30px;
		text-align: center;
	}
	
	h2 {
		color: #54595F;
		font-size: 26px;
		margin: 10px;
	}
	
	a:link {
		color: #30d3c0;
	}
		
	a:visited {
		color: #E4C461;
	}
	a:hover {
		color: #ff6666;
	}
	a:active {
		color: #E4C461;
	}
	
	img {
		margin: 0px 20px 0px 20px;
	}
